<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<head>
  <link rel="stylesheet" href="css/index.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!--this is the correct path to be able to access-->
<!--<img src="img/cat.jpg" th:width="100" th:src="@{img/cat.jpg}">-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">Add Image</a>
      </li>
    </ul>
    <form class="form-logout" method="get" action="/logout">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row g-3">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="gallery-title">Add Image</h1>
    </div>

    <form class="row g-3" action="#" th:action="@{api/v1/image/upload}" th:object="${image}" method="post" enctype="multipart/form-data">
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="image_privacy" id="publicImage" value="true" checked>
          <label class="form-check-label" for="publicImage">
            Public
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="image_privacy" id="privateImage" value="false">
          <label class="form-check-label" for="privateImage">
            Private
          </label>
        </div>
      </div>
      <div class="col-12">
        <label>Image</label>
        <input type="file" class="form-control-file" id="imageFile" name="imageFile">
      </div>
      <div class="col-12" style="top: 25px;">
        <button type="submit" class="btn btn-primary">Add Image</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>